*{
    padding: 0%;
    margin: 0%;
}

h2 {

  font-family: sans-serif;
  font-size: 200%;
}

body{
font-family: sans-serif;
background: url(C:\Users\ASUS\project\myproject\stockmanagement\static\img\bg.jpg);
background-repeat: no-repeat;
background-position: center;

background-size: 100%;
color: #fff;
background-color:#5F9EA0;;
}
.registration-form{
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
width: 600px;
padding: 60px;

background-color:#5F9EA0;
}
.registration-form h2{
font-size: 31px;
text-align: center;
text-transform: uppercase;
margin: 15px 0;
margin-top: 140px;
padding:10px;
}
.registration-form p{
font-size: 20px;
margin: 15px 0;
}
.registration-form input{
font-size: 14px;
padding: 10px 10px;
width: 100%;
border: 0;
border-radius: 5px;
outline: none;

}
.registration-form button{
font-size: 18px;
font-weight: bold;
margin: 20px 0;
padding: 10px 15px;
width: 50%;
border: 0;
border-radius: 5px;
background-color: #fff;
}

.registration-form button:hover{
color: black;
background-color: #fb5200;
cursor: pointer;

}
